@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Regular.ttf') format('truetype'),
        url('/fonts/Nunito-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Medium.ttf') format('truetype'),
        url('/fonts/Nunito-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Bold.ttf') format('truetype'),
        url('/fonts/Nunito-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}